<p-menubar [model]="[]">
    <div class="navbar">
        <div class="navbar-actions">
            <p-button
                *ngIf="!(isAuth | async)"
                label="Вход"
                class="navbar-actions__signin"
                styleClass="p-button-outlined p-button-sm"
                (onClick)="authorizationHandler()"
            ></p-button>
            <p-button 
                *ngIf="!(isAuth | async)"
                label="Регистрация"
                class="navbar-actions__signup"
                styleClass="p-button-sm"
                (onClick)="registrationHandler()"
            ></p-button>
            <p-button 
                *ngIf="isAuth | async"
                label="Выйти"
                class="navbar-actions__signup"
                styleClass="p-button-outlined p-button-sm"
                (onClick)="logoutHandler()"
            ></p-button>
        </div>
    </div>
</p-menubar>