<div class="authorization">
    <p-card>
        <ng-template pTemplate="header">
            <h2>Авторизация</h2>
        </ng-template>

        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-user"></i>
            <input id="email-field" type="text" pInputText> 
            <label for="email-field">Email</label>
        </span>
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-lock"></i>
            <input id="pass-field" type="text" pInputText> 
            <label for="pass-field">Password</label>
        </span>
        
        <ng-template pTemplate="footer">
            <p-button label="Войти"></p-button>
        </ng-template>
    </p-card>
</div>