<div class="registration">
  <form [formGroup]="registrationForm" (submit)="registration()">
    <p-card>
        <ng-template pTemplate="header">
            <h2>Регистрация</h2>
        </ng-template>

        <div class="p-field">
            <span class="p-float-label p-input-icon-left">
                <i class="pi pi-user"></i>
                <input pInputText type="text" id="email-field" formControlName="email">
                <label for="email-field">Email</label>
            </span>
        </div>

        <div class="p-field">
            <span class="p-float-label p-input-icon-left">
                <i class="pi pi-lock"></i>
                <input pInputText id="pass-field" type="password" formControlName="password">
                <label for="pass-field">Password</label>
            </span>
        </div>

        <ng-template pTemplate="footer">
            <p-button label="Зарегистрироваться" type="submit"></p-button>
        </ng-template>
    </p-card>
  </form>
</div>
